# ENV
env/*
.env*
!.env.example

# Dependencies
node_modules/
**/node_modules/
**/npm-debug.log
**/yarn-error.log

# Build
**/build/*
**/dist/*
**/.next/*

# Cache
**__pycache__*
**/.cache/*
**_cache.*
*.DS_Store

# Data sample
**/data/*
**_output.*
